body {
    background-color: #ff33cc;
    color: white;
}

img, header, footer, .box_widget, table, th, td, p, h1, h2, h3, h4, h5, h6 {
    background-color: #0000ff;
    border-color: black;
}

hr {
    color: yellow;
}


a {
    color: lime;
}

nav a {
    background: #00ff00;
    border-color: black;
    color: blue;
}

input[type=text], input[type=number], input[type=email], input[type=submit], input[type=password] {
    border-color: #ff0000;
}
