:root {
    --shadow-color: black;
    --background-color: #330033;
    --content-background-color: #4d004d;
    --box-widget-color: #660066;
    --header-color: #4d004d;
    --footer-color: #4d004d;
    --text-color: white;
    --button-color: #330033;
    --button-text-color: white;
    --body-font: 'Roboto', Arial, sans-serif;
    --hyperlink-color: white;
}
