body {
    background-color: #262626;
    color: white;
}

img, nav a, header, footer, .box_widget, table, th, td, p, h1, h2, h3, h4, h5, h6 {
    background-color: #404040;
    border-color: white;
}

hr {
    color: white;
}


input[type=text], input[type=number], input[type=email], input[type=submit], input[type=password] {
    border-color: white;
    background-color: #333333;
    color: white;
}


a {
    font-weight: bold;
    color: white;
}
