body {
    background-color: #d9d9d9;
    color: black;
}

img, header, footer, .box_widget, table, th, td, p, h1, h2, h3, h4, h5, h6 {
    background-color: #999999;
    border-color: black;
}

hr {
    color: black;
}


nav a {
    background: #cccccc;
    border-color: black;
}

input[type=text], input[type=number], input[type=email], input[type=submit], input[type=password] {
    border-color: #737373;
}
