:root {
    --shadow-color: grey;
    --background-color: #f2f2f2;
    --content-background-color: #e6e6e6;
    --box-widget-color: #d9d9d9;
    --header-color: white;
    --footer-color: white;
    --text-color: black;
    --button-color: #666666;
    --button-text-color: white;
    --body-font: 'Roboto', Arial, sans-serif;
    --hyperlink-color: blue;
    --horizontal-rule-color: orange
}
