a {
    color: var(--hyperlink-color);
}


header, footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 15px var(--shadow-color);
}


header {
    background: var(--header-color)
}


footer {
    background: var(--footer-color);
}


body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
}


.content_container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 15px;
    box-sizing: border-box;
}


body > .content_container {
    margin-top: 30px;
    margin-bottom: 30px;
    background: var(--content-background-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    border: 0px solid;
    border-radius: 10px;
}


.box_widget {
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    background: var(--box-widget-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    border: 0px solid;
    border-radius: 10px;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


header nav a {
    padding: 10px;
    text-align: center;
}


header nav a, input[type='submit'] {
    display: inline-block;
    border: solid 0px;
    border-radius: 100px;
    background: var(--button-color);
    color: var(--button-text-color);
    font-weight: bold;
    box-shadow: 0px 0px 8px var(--shadow-color);
}

input[type='text'], input[type='number'], input[type='password'], input[type='email'] {
    border: solid 0px;
    border-radius: 5px;
    padding: 2px 8px
}


img {
    border: solid 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--shadow-color);
}

hr {
border: 0;
    border-top: 1px solid var(--text-color);
    opacity: 0.3;
}


input {
    margin: 5px;
    padding: 5px;
}


input[type='submit'] {
    margin: 15px;
    padding: 15px;
}
