<!DOCTYPE html>
<html lang="en">



<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rowan's Website{% endblock %}</title>
    
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>



<body>
    
    <nav>
        
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.animals') }}">Animal Information</a>
        <a href="{{ url_for('main.survey') }}">Complete A Quick Survey</a>
        
    </nav>
    
    {% block content %}
    
    {% endblock %}
    
</body>

<footer>
    
    <br><br><hr><br>
    
    <p>Created by Rowan Middleton</p>
    <p><a href="mailto:rowanijmiddleton@gmail.com">rowanijmiddleton@gmail.com</a></p>

</footer>


</html>
