{% extends "base.html" %}



{% block title %}User Form{% endblock %}



{% block content %}

<h1>User Form</h1>

<h2>Submit a message to the developer here</h2>

<form method="POST" action="{{ url_for('main.submit_task') }}">
    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="fname" required><br>
    
    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lname" required><br>
    
    <label for="age">Age</label><br>
    <input type="number" id="age" name="age" required><br><br>
    
    <label for="message">Add a message</label><br>
    <input type="text" id="message" name="message" required><br><br>
    
    
    <input type="submit" value="Submit">
</form>

{% endblock %}
