{% extends "base.html" %}



{% block title %}My Account{% endblock %}



{% block content %}




{% if access_token is not none %}

<h1>My Account</h1>

<div class="box_widget">

    <form method="POST" action="{{ url_for('main.logout') }}">
        <input type="submit" value="Logout">
    </form>

</div>



{% else %}

<h1>Sign Up Or Log In</h1>

<div class="box_widget">

    <form action="{{ url_for('main.log_in') }}" method="GET">
        <input type="submit" value="Log In">
    </form>
    
</div>

<div class="box_widget">
    
    <form action="{{ url_for('main.sign_up') }}" method="GET">
        <input type="submit" value="Sign Up / Register">
    </form>
    
</div>



{% endif %}



{% endblock %}
